Repository woowacourse-teams/2022-sokdak, pull requests merged in 2022-10, with the labels that each got.

#591 refactor: comment 리팩터링
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
Labels: ⚡️ back-end, refactor

#597 refactor: like 패키지 리팩토링
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/PostLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/LikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/PostLikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/PostLikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/controller/PostLikeControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
Labels: ⚡️ back-end, refactor

#598 feat: PWA 사용성 보강
  frontend/public/manifest.json
  frontend/src/App.tsx
  frontend/src/components/Prompt/index.stories.tsx
  frontend/src/components/Prompt/index.styles.ts
  frontend/src/components/Prompt/index.tsx
  frontend/src/constants/snackbar.ts
  frontend/src/hooks/useInstallApp.ts
  frontend/src/index.tsx
  frontend/webpack/webpack.config.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 🕶 front-end, feature

#600 refactor: Auth에 있던 인증/회원가입 관련 기능 분리
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/TicketElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/TicketRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/controller/AuthController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/AuthCodeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/TicketRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/ticket/controller/RegisterController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/ticket/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/ticket/domain/Ticket.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/ticket/service/RegisterService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/support/token/JwtTokenProviderTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/ticket/controller/RegisterControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/ticket/service/RegisterServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
Labels: refactor

#603 feat: response body 로깅
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/logging/LoggingAspect.java
Labels: ⚡️ back-end, feature

#613 fix: native 쿼리의 테이블명(Notification)을 notification으로 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
Labels: ⚡️ back-end, fix

#601 refactor: report 패키지 코드레벨 리팩터링
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/CommentReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/PostReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/CommentReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/CommentReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/PostReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/repository/CommentReportRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/repository/PostReportRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
Labels: ⚡️ back-end, refactor

#581 refactor: post 패키지 코드레벨 1차 리팩터링
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/Hashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/service/HashtagService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/repository/CommentReportRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/repository/PostReportRepositoryTest.java
Labels: ⚡️ back-end, refactor

#626 refactor: NotificationRepository 불필요한 메서드 삭제
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
Labels: ⚡️ back-end, refactor

#609 fix: 좋아요가 초기화되는 문제 해결
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, fix

#616 feat: 메인페이지 반응형 웹 구현
  frontend/src/__test__/Member.test.tsx
  frontend/src/__test__/NotFound.test.tsx
  frontend/src/__test__/Post.test.tsx
  frontend/src/assets/images/arrow_left.svg
  frontend/src/assets/images/arrow_right.svg
  frontend/src/components/@styled/Divider/index.tsx
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/FAB/index.tsx
  frontend/src/components/Header/SearchWeb/index.stories.tsx
  frontend/src/components/Header/SearchWeb/index.styles.ts
  frontend/src/components/Header/SearchWeb/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostList/index.styles.ts
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/SearchModal/index.styles.ts
  frontend/src/hooks/queries/hashtag/useHashtags.ts
  frontend/src/hooks/queries/post/useHotPosts.ts
  frontend/src/hooks/useResponsive.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/BoardPage/index.styles.ts
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/pages/HashTagPage/index.styles.ts
  frontend/src/pages/LoginPage/index.styles.ts
  frontend/src/pages/MainPage/components/Banner/index.stories.tsx
  frontend/src/pages/MainPage/components/Banner/index.styles.ts
  frontend/src/pages/MainPage/components/Banner/index.tsx
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/MainPage/components/BoardItem/index.tsx
  frontend/src/pages/MainPage/components/Carousel/index.stories.tsx
  frontend/src/pages/MainPage/components/Carousel/index.styles.ts
  frontend/src/pages/MainPage/components/Carousel/index.tsx
  frontend/src/pages/MainPage/components/Carousel/useCarousel.ts
  frontend/src/pages/MainPage/components/Footer/index.styles.ts
  frontend/src/pages/MainPage/components/Footer/index.tsx
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.styles.ts
  frontend/src/pages/PostPage/components/ReplyForm/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/ProfilePage/index.styles.ts
  frontend/src/pages/SignUpPage/index.styles.ts
  frontend/src/style/theme.ts
  frontend/src/types/style.d.ts
Labels: 🕶 front-end, feature

#633 fix: 핫게시판에 게시물이 없을경우 캐러셀에 대한 오류
  frontend/src/pages/MainPage/components/Carousel/index.tsx
  frontend/src/pages/MainPage/components/Carousel/useCarousel.ts
Labels: bug, 🕶 front-end

#636 fix: findNotifications의 @Transactional readOnly 옵션 제거
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
Labels: bug, ⚡️ back-end

#640 feat: 파일 형식 제한
  frontend/src/components/PostForm/components/ImageUpload/index.tsx
  frontend/src/constants/snackbar.ts
Labels: 🕶 front-end, feature

#619 feat: 이미지 파일 압축 기능 구현 및 리팩터링
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/config/WebMvcConfig.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/Extension.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/Image.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageCompressor.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageController.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageService.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/NotSupportedExtensionException.java
  imageserver/sokdakimageserver/src/main/resources/application-local.yml
  imageserver/sokdakimageserver/src/main/resources/application.properties
  imageserver/sokdakimageserver/src/main/resources/application.yml
Labels: ⚡️ back-end, feature

#630 feat:5기 게시판 백엔드 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewCommentRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewReplyRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/controller/LikeController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/dto/LikeFlipRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/RoleType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/dto/ReportRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/PostLikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/controller/PostLikeControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/CommentReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/PostReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/BoardFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
Labels: ⚡️ back-end, feature

#622 refactor: 좋아요 기능에서의 불필요한 쿼리 삭제
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/CommentLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/PostLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/exception/CommentLikeNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/exception/PostLikeNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/PostLikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/domain/CommentLikeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/domain/PostLikeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/LikeFixture.java
Labels: ⚡️ back-end, refactor

#637 feat: 게시판 목록페이지 반응형 구현
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/PostList/index.styles.ts
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/dummy.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.tsx
  frontend/src/pages/MainPage/components/Carousel/index.styles.ts
Labels: 🕶 front-end, feature

#639 feat: 글 상세 페이지 데스크탑 사이즈 구현
  frontend/src/components/CheckBox/index.styles.ts
  frontend/src/components/LikeButton/index.styles.ts
  frontend/src/dummy.ts
  frontend/src/hooks/useThrottle.ts
  frontend/src/pages/PostPage/components/CommentBox/index.styles.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.styles.ts
  frontend/src/pages/PostPage/components/PostHeader/index.styles.ts
  frontend/src/pages/PostPage/components/ReplyForm/index.styles.ts
  frontend/src/pages/PostPage/components/Sidebar/components/SidebarContainer/index.styles.ts
  frontend/src/pages/PostPage/components/Sidebar/components/SidebarContainer/index.tsx
  frontend/src/pages/PostPage/components/Sidebar/index.stories.tsx
  frontend/src/pages/PostPage/components/Sidebar/index.styles.ts
  frontend/src/pages/PostPage/components/Sidebar/index.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#644 docs: 인프라 구조, CI/CD 이미지 추가
  README.md
Labels: documentation

#648 feat: 5기 게시판 프론트엔드 구현
  frontend/src/components/CheckBox/index.styles.ts
  frontend/src/constants/board.ts
  frontend/src/hooks/queries/comment/useComments.ts
  frontend/src/hooks/queries/comment/useCreateReply.ts
  frontend/src/hooks/queries/comment/useLikeComment.ts
  frontend/src/hooks/queries/comment/usePostComments.ts
  frontend/src/hooks/queries/comment/useReportComment.ts
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/hooks/queries/member/useSignUp.ts
  frontend/src/hooks/queries/post/usePost.ts
  frontend/src/hooks/queries/post/useReportPost.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
  frontend/src/pages/PostPage/components/CommentList/index.tsx
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/pages/PostPage/components/ReplyForm/index.tsx
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.tsx
  frontend/src/pages/SignUpPage/index.tsx
  frontend/src/types/style.d.ts
Labels: 🕶 front-end, feature

#647 bug: 지원자로 회원가입 안되는 버그 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/exception/AuthorizationException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
Labels: bug, ⚡️ back-end

#656 refactor: 5기 게시판 boardId db에서 가져오도록 변경 및 hot게시판으로 이동못하게 하는 로직 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewCommentRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewReplyRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/controller/LikeController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/dto/LikeFlipRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/dto/ReportRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/controller/PostLikeControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/CommentReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/PostReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/BoardFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/LikeFixture.java
Labels: ⚡️ back-end, refactor

#655 feat: 반응형 보강
  frontend/src/assets/images/arrow_left.svg
  frontend/src/assets/images/arrow_right.svg
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/HashTag/index.styles.ts
  frontend/src/components/Header/Notification/index.styles.ts
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/PostListItem/index.tsx
  frontend/src/components/SearchModal/index.styles.ts
  frontend/src/dummy.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
  frontend/src/pages/BoardPage/index.styles.ts
  frontend/src/pages/LoginPage/index.styles.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/MainPage/components/Banner/index.styles.ts
  frontend/src/pages/MainPage/components/Banner/index.tsx
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/MainPage/components/Carousel/index.styles.ts
  frontend/src/pages/MainPage/components/Carousel/index.tsx
  frontend/src/pages/MainPage/components/Footer/index.styles.ts
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/ProfilePage/index.styles.ts
  frontend/src/pages/ProfilePage/index.tsx
  frontend/src/pages/SignUpPage/components/NicknameInput/index.tsx
  frontend/src/pages/SignUpPage/index.styles.ts
  frontend/src/pages/SignUpPage/index.tsx
Labels: 🕶 front-end, feature

#660 fix: 지원자 자격 멤버로 접근 불가능한 기능 사용할 수 있는 버그 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/RoleType.java
Labels: bug, ⚡️ back-end

#657 fix: 5기 게시판 api 변경에 따른 프론트엔드 코드 수정
  frontend/src/components/Header/index.stories.tsx
  frontend/src/components/PostForm/index.tsx
  frontend/src/constants/board.ts
  frontend/src/hooks/queries/comment/useCreateReply.ts
  frontend/src/hooks/queries/comment/useLikeComment.ts
  frontend/src/hooks/queries/comment/usePostComments.ts
  frontend/src/hooks/queries/comment/useReportComment.ts
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/useReportPost.ts
  frontend/src/pages/MainPage/components/Carousel/index.tsx
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
  frontend/src/pages/PostPage/components/CommentList/index.tsx
  frontend/src/pages/PostPage/components/PostHeader/index.stories.tsx
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/pages/PostPage/components/ReplyForm/index.tsx
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.stories.tsx
Labels: 🕶 front-end, fix

#634 refactor: 암호화 static을 빈 형태로 리팩토링
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/encryptor/Encryptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/encryptor/EncryptorFactory.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/encryptor/EncryptorI.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Password.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Username.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/ticket/service/RegisterService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/domain/CommentLikeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/PasswordTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/UsernameTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/repository/MemberRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/EncryptorTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/CommentReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/PostReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/repository/PostReportRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/ticket/controller/RegisterControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/ticket/service/RegisterServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/RepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
Labels: ⚡️ back-end, refactor

#664 feat: 디자인 수정
  frontend/src/components/PostForm/index.styles.ts
Labels: 🕶 front-end, feature

#666 fix: 5기 게시판 이름변경 및 댓글 삭제 오류 해결
  frontend/src/constants/board.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/index.tsx
Labels: bug

#667 refactor: 사이드바 디자인 수정
  frontend/src/pages/PostPage/components/Sidebar/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#670 refactor: footer 내용 수정
  frontend/src/pages/MainPage/components/Footer/index.styles.ts
  frontend/src/pages/MainPage/components/Footer/index.tsx
Labels: enhancement, 🕶 front-end

#672 docs: 리드미 수정
  README.md
Labels: documentation

#678 feat: 예비 크루를 위한 공지사항 추가
  frontend/src/dummy.ts
  frontend/src/pages/BoardPage/components/Notice/index.styles.ts
  frontend/src/pages/BoardPage/components/Notice/index.tsx
  frontend/src/pages/BoardPage/index.tsx
Labels: 🕶 front-end, feature

#681 feat: 광고 업데이트
  frontend/src/constants/AD.ts
  frontend/src/dummy.ts
  frontend/src/pages/PostPage/components/Sidebar/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#683 fix: UI 최소 너비 수정
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/ProfilePage/index.styles.ts
Labels: 🕶 front-end, feature

#685 hotfix: UI 개선 및 광고 업데이트
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/constants/AD.ts
  frontend/src/dummy.ts
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/PostPage/components/Sidebar/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/ProfilePage/index.styles.ts
Labels: 🕶 front-end, fix

#693 fix: og image 수정
  frontend/public/index.html
Labels: bug

#691 fix: 알파채널 이미지일 경우 압축이 되지 않는 문제 해결
  imageserver/sokdakimageserver/build.gradle
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageCompressor.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/controller/ImageController.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/domain/Extension.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/domain/Image.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/dto/ImageResponse.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/FileIOException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/ImageReadException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/NotSupportedExtensionException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/service/ImageService.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/util/ImageCompressor.java
  imageserver/sokdakimageserver/src/test/java/com/wooteco/sokdak/image/domain/ExtensionTest.java
Labels: ⚡️ back-end, fix

#695 feat: DB replication 작업
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/DataSourceConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/datasource/RoutingCircular.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/datasource/RoutingDataSource.java
Labels: ⚡️ back-end, feature

#653 feat: 웹접근성 최적화
  frontend/src/assets/images/chevron-down.svg
  frontend/src/assets/images/comment.svg
  frontend/src/assets/images/heart.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/notification-icon.svg
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/FAB/index.tsx
  frontend/src/components/Header/SearchWeb/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostCountInfo/index.tsx
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/pages/BoardPage/index.styles.ts
Labels: 🕶 front-end, feature

#697 feat: DB Replication
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/DataSourceConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/datasource/RoutingCircular.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/datasource/RoutingDataSource.java
  frontend/public/images/sokdak_image.png
  frontend/public/index.html
  frontend/src/assets/images/chevron-down.svg
  frontend/src/assets/images/comment.svg
  frontend/src/assets/images/heart.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/notification-icon.svg
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/FAB/index.tsx
  frontend/src/components/Header/SearchWeb/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostCountInfo/index.tsx
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/pages/BoardPage/index.styles.ts
  imageserver/sokdakimageserver/build.gradle
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageCompressor.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/controller/ImageController.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/domain/Extension.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/domain/Image.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/dto/ImageResponse.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/FileIOException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/ImageReadException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/exception/NotSupportedExtensionException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/service/ImageService.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/util/ImageCompressor.java
  imageserver/sokdakimageserver/src/test/java/com/wooteco/sokdak/image/domain/ExtensionTest.java
Labels: 🕶 front-end, ⚡️ back-end, feature

#654 feat: 쿼리 검색 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/SearchQuery.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PagePostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsCountResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, feature

#687 feat: 조회수 ui 구현
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/PostListItem/index.tsx
  frontend/src/dummy.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/components/PostHeader/index.styles.ts
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#696 feat: 글 검색 기능 구현
  frontend/src/App.tsx
  frontend/src/components/SearchModal/components/SearchedHashtag/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedHashtag/index.tsx
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.stories.tsx
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.tsx
  frontend/src/components/SearchModal/components/SearchedPost/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedPost/index.tsx
  frontend/src/components/SearchModal/index.styles.ts
  frontend/src/components/SearchModal/index.tsx
  frontend/src/constants/path.ts
  frontend/src/hooks/queries/hashtag/useSearchHashtags.ts
  frontend/src/hooks/queries/post/useSearchPostCount.ts
  frontend/src/hooks/queries/post/useSearchPosts.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/MainPage/components/Banner/index.tsx
  frontend/src/pages/SearchedPostPage/components/NoResult/index.styles.ts
  frontend/src/pages/SearchedPostPage/components/NoResult/index.tsx
  frontend/src/pages/SearchedPostPage/index.styles.ts
  frontend/src/pages/SearchedPostPage/index.tsx
Labels: 🕶 front-end, feature

#686 feat: 조회수 기능(어뷰징 방지 안됨)
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsElementResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, feature

#704 fix: 유니코드 변환 문제 해결
  frontend/src/pages/SearchedPostPage/index.tsx
Labels: 🕶 front-end, fix

#705 6차 스프린트2
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/SokdakApplication.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/SearchQuery.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PagePostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsCountResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsElementResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  frontend/src/App.tsx
  frontend/src/components/PostList/index.tsx
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/PostListItem/index.tsx
  frontend/src/components/SearchModal/components/SearchedHashtag/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedHashtag/index.tsx
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.stories.tsx
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedPost/components/Post/index.tsx
  frontend/src/components/SearchModal/components/SearchedPost/index.styles.ts
  frontend/src/components/SearchModal/components/SearchedPost/index.tsx
  frontend/src/components/SearchModal/index.styles.ts
  frontend/src/components/SearchModal/index.tsx
  frontend/src/constants/path.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/hashtag/useSearchHashtags.ts
  frontend/src/hooks/queries/post/useSearchPostCount.ts
  frontend/src/hooks/queries/post/useSearchPosts.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/MainPage/components/Banner/index.tsx
  frontend/src/pages/PostPage/components/PostHeader/index.styles.ts
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/pages/SearchedPostPage/components/NoResult/index.styles.ts
  frontend/src/pages/SearchedPostPage/components/NoResult/index.tsx
  frontend/src/pages/SearchedPostPage/index.styles.ts
  frontend/src/pages/SearchedPostPage/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/post.d.ts
Labels: release

#708 fix: 이미지가 회전되는 문제 해결
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/util/ImageCompressor.java
Labels: bug, ⚡️ back-end

#711 refactor: webpack 최적화
  frontend/src/assets/images/panda_logo.svg
  frontend/webpack/webpack.config.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.local.js
  frontend/webpack/webpack.prod.js
Labels: refactor

#716 refactor: 테스트 속도 개선
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/controller/AuthController.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/ticket/service/RegisterServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/TokenFixture.java
Labels: ⚡️ back-end, refactor

#721 feat: 쿼리 카운터 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/performance/ConnectionHandler.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/performance/PerformanceAspect.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/performance/QueryCounter.java
Labels: ⚡️ back-end, feature

#724 fix: 쿼리 카운트 AOP에서 DataSource 순환참조 문제 해결
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/performance/PerformanceAspect.java
Labels: bug, ⚡️ back-end

#728 refactor: 좋아요 개수 조회 반정규화하여 count 쿼리 제거
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
Labels: ⚡️ back-end, refactor

#732 refactor: oneToMany에 대해 stream을 돌아 n+1 발생문제 해결
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/CommentLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/PostLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/CommentLikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/PostLikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
Labels: ⚡️ back-end, refactor

#734 refactor: post, comment를 찾아올때 likes를 fetch join 하는 쿼리 제거
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
Labels: ⚡️ back-end, refactor
