Repository woowacourse-teams/2022-sokdak, pull requests merged in 2022-08, with the labels that each got.

#236 feat: Jenkinsfile 작성
  Jenkinsfile
  frontend/package.json
Labels: 🕶 front-end, feature

#235 feat: 특정 게시판 (인기게시판) 사용자가 글 작성 막는 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/PostBoard.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/exception/BoardNotWritableException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/JasyptConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagSearchElementResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagsSearchRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Nickname.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/controller/CommentReportController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/CommentReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/PostReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/controller/BoardControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#238 feat: 토큰에 닉네임/역할 정보 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/dto/AuthInfo.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/RoleType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/AuthenticationPrincipalArgumentResolver.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/JwtTokenProvider.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/TokenManager.java
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/support/token/JwtTokenProviderTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#220 feat: JWT 로그아웃 및 자동로그인 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/controller/AuthController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/RefreshToken.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/dto/AuthInfo.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/repository/RefreshTokenRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/RefreshTokenService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/PostBoard.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/exception/BoardNotWritableException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/JasyptConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/WebMvcConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagSearchElementResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagsSearchRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Nickname.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/RoleType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/controller/CommentReportController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/CommentReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/PostReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/AuthInterceptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/AuthenticationPrincipal.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/AuthenticationPrincipalArgumentResolver.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/AuthorizationExtractor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/InvalidRefreshTokenException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/JwtTokenProvider.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/TokenManager.java
  backend/sokdak/src/main/resources/application-dev.yml
  backend/sokdak/src/main/resources/application-local.yml
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/controller/BoardControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/support/token/JwtTokenProviderTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#240 fix: test코드에서 yml파일 속성값을 읽어오지 못하는 문제 수정
  backend/sokdak/src/test/resources/application.yml
Labels: bug, ⚡️ back-end

#245 fix: 테스트 격리를 위한 truncate.sql 수정
  backend/sokdak/src/test/resources/truncate.sql
Labels: bug, ⚡️ back-end

#249 feat:MainPage 기능 변경
  frontend/src/components/PostListItem/index.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/queries.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/post/usePostsByBoard.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/MainPage/components/BoardItem/index.stories.tsx
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/MainPage/components/BoardItem/index.tsx
  frontend/src/pages/MainPage/index.stories.tsx
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#248 feat: 메인페이지 조회 API 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentPostElement.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
Labels: ⚡️ back-end, feature

#241 feat: 인증코드 시간 만료 #229
  backend/sokdak/build.gradle
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/TimeConfig.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
Labels: ⚡️ back-end, feature

#252 Feat : Jenkinsfile 수정
  Jenkinsfile
  jenkins/Jenkinsfile
Labels: infra

#253 feat: 인증코드 만료시간 기능 구현, 메인페이지 조회 API 수정, Jenkinsfile 수정
  Jenkinsfile
  backend/sokdak/build.gradle
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentPostElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/TimeConfig.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/domain/AuthCodeTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  jenkins/Jenkinsfile
Labels: ⚡️ back-end

#255 fix: 파이프라인 stages 하나로 수정
  jenkins/Jenkinsfile
Labels: fix, infra

#256 fix: 파이프라인 stages 하나로 수정
  jenkins/Jenkinsfile
Labels: fix, infra

#259 refactor: 불필요한 Jenkinsfile 삭제
  jenkins/Jenkinsfile
Labels: infra

#262 feat: Jenkinsfile 작성
  jenkins/Jenkinsfile
Labels: infra

#266 feat: 특정 게시글의 댓글 목록 조회시, response에 댓글 작성자인지 알려주는 필드 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
Labels: ⚡️ back-end, feature

#264 fix: jenkins의 테스트 환경에서 격리가 되지 않는 문제 해결
  backend/sokdak/build.gradle
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/RefreshToken.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/Ticket.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/Hashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/PostHashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/Like.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/IntegrationTest.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: bug, ⚡️ back-end

#273 fix: 메인 페이지 조회 API URI 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/controller/BoardController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/BoardType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/controller/BoardControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: bug, ⚡️ back-end

#265 feat: 일정 좋아요 개수 이상 시 인기 게시판 등록
  backend/sokdak/build.gradle
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/RefreshToken.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/BoardType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/BoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/IntegrationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/BoardFixture.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#275 feat: 게시물 작성시 익명/기명을 선택할 수 있는 기능 구현
  frontend/src/components/CheckBox/index.stories.tsx
  frontend/src/components/CheckBox/index.styles.ts
  frontend/src/components/CheckBox/index.tsx
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostForm/index.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#293 feat: JWT 로그아웃 및 자동로그인 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/AuthorizationExtractor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/token/JwtTokenProvider.java
Labels: bug, ⚡️ back-end

#298 feat: 게시글 작성시 익명/기명 선택 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/NewPostRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/util/PostFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
Labels: ⚡️ back-end, feature

#295 feat: 상세 게시판 화면내에서 카테고리 분류
  frontend/src/assets/images/chevron-down.svg
  frontend/src/components/@shared/Dropdown/index.stories.tsx
  frontend/src/components/@shared/Dropdown/index.styles.ts
  frontend/src/components/@shared/Dropdown/index.tsx
  frontend/src/constants/queries.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/board/useBoards.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/types/boards.d.ts
Labels: 🕶 front-end, feature

#303 feat: 서버에서의 에러 로그를 슬랙으로 전송하는 기능 구현
  backend/sokdak/build.gradle
  backend/sokdak/src/main/resources/logback-access.xml
  backend/sokdak/src/main/resources/logback-spring.xml
  backend/sokdak/src/main/resources/logback/console-access-logger.xml
  backend/sokdak/src/main/resources/logback/file-access-logger.xml
  backend/sokdak/src/main/resources/logback/file-logger.xml
  backend/sokdak/src/main/resources/logback/slack-logger.xml
Labels: ⚡️ back-end, feature

#305 fix: 중복되는 의존성 삭제
  backend/sokdak/build.gradle
  backend/sokdak/src/main/resources/logback/file-access-logger.xml
  backend/sokdak/src/main/resources/logback/file-logger.xml
Labels: bug, ⚡️ back-end

#307 feat: 게시글 작성자 댓글 식별 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
Labels: ⚡️ back-end, feature

#310 feat: 테스트용 계정 추가
  backend/sokdak/src/main/resources/import.sql
Labels: ⚡️ back-end, feature

#318 chore: 프론트 CI/CD 테스트 스크립트 추가
  jenkins/Jenkinsfile
Labels: 🕶 front-end, infra

#300 feat: 댓글 작성시 익명/기명 선택 체크박스를 CheckBox 컴포넌트로 교체
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
Labels: 🕶 front-end, feature

#302 fix: 게시판 순서를 API 명세를 따라 수정
  frontend/src/constants/board.ts
  frontend/src/dummy.ts
Labels: 🕶 front-end, feature

#306 feat: 댓글에 작성자 표기
  frontend/src/dummy.ts
  frontend/src/hooks/queries/comment/useComments.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/components/CommentBox/index.styles.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentList/index.tsx
Labels: 🕶 front-end, feature

#321 feat: 글 상세보기 Dto에 게시판 id 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/exception/PostBoardNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, feature

#308 feat: 이메일 인증 시간 초과 예외 처리
  frontend/src/components/Timer/index.stories.tsx
  frontend/src/components/Timer/index.styles.ts
  frontend/src/components/Timer/index.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.tsx
  frontend/src/pages/SignUpPage/index.styles.ts
Labels: 🕶 front-end, feature

#325 feat: 테스트 계정 비밀번호 변경
  backend/sokdak/src/main/resources/import.sql
Labels: ⚡️ back-end, feature

#327 feat: 회원 닉네임 유니크 제약 조건 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Nickname.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/repository/MemberRepositoryTest.java
Labels: ⚡️ back-end, feature

#323 fix: 실패 테스트 해결
  frontend/src/__test__/Post.test.tsx
  frontend/src/pages/MainPage/components/BoardItem/index.tsx
  frontend/src/setupTests.ts
Labels: 🕶 front-end, fix

#322 feat: 토큰기반 로그인 구현
  frontend/src/App.tsx
  frontend/src/apis/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostForm/index.tsx
  frontend/src/constants/localStorage.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/snackbar.ts
  frontend/src/context/Auth.tsx
  frontend/src/hooks/queries/comment/useDeleteComment.ts
  frontend/src/hooks/queries/comment/usePostComments.ts
  frontend/src/hooks/queries/comment/useReportComment.ts
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/hooks/queries/member/useLogin.ts
  frontend/src/hooks/queries/member/useLogout.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/useDeletePost.ts
  frontend/src/hooks/queries/post/usePost.ts
  frontend/src/hooks/queries/post/useReportPost.ts
  frontend/src/hooks/queries/post/useUpdatePost.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/routes/PrivateRoute.tsx
  frontend/src/routes/PublicRoute.tsx
  frontend/src/utils/decodeJwt.ts
Labels: 🕶 front-end, feature

#330 fix: 댓글/게시글의 닉네임과 회원 닉네임 분리
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/logback/file-access-logger.xml
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/repository/MemberRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#332 fix: 회원가입 및 Notfound test 수정
  frontend/package.json
  frontend/src/__test__/NotFound.test.tsx
  frontend/src/setupTests.ts
Labels: 🕶 front-end, fix

#290 feat: 신고 5개 이상이면 댓글 block하는 기능 추가 #296 #234
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsElementResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/CommentReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/PostReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/CommentReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/util/PostFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/CommentReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/domain/PostReportTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/ReportFixture.java
Labels: ⚡️ back-end, feature

#340 fix: 인기글 조회 안되는 문제 해결
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
Labels: ⚡️ back-end, feature

#339 fix: 게시판 이름에 이모지 표기
  frontend/src/pages/MainPage/index.tsx
Labels: 🕶 front-end, fix

#342 fix: 중복 신고 예외 메시지 처리
  frontend/src/pages/PostPage/components/PostHeader/index.tsx
  frontend/src/pages/PostPage/components/ReportModal/index.tsx
Labels: 🕶 front-end, fix

#345 fix: 해시태그 안 글씨 정렬
  frontend/src/components/HashTag/index.styles.ts
Labels: 🕶 front-end, fix

#347 refactor: dev 서버에서 sql로그를 기록하도록 변경
  backend/sokdak/src/main/resources/logback-spring.xml
  backend/sokdak/src/main/resources/logback/file-db-logger.xml
Labels: ⚡️ back-end, refactor

#349 fix: 단건 조회 블라인드 안되는 버그 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
Labels: ⚡️ back-end, feature

#356 refactor: CI/CD 로직 순서 수정
  jenkins/Jenkinsfile
Labels: refactor, infra

#354 fix: 게시판 드롭다운에 이모지 추가
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.tsx
Labels: 🕶 front-end, fix

#359 feature: ddl auto create대신 직접 테이블 생성 쿼리 schema.sql로 작성
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/schema.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/HashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/repository/MemberRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/RepositoryTest.java
  backend/sokdak/src/test/resources/application.yml
  backend/sokdak/src/test/resources/schema.sql
Labels: ⚡️ back-end, feature

#360 fix: ddl-auto: none으로 설정안되있는거 none으로 변경
  backend/sokdak/src/main/resources/application-dev.yml
  backend/sokdak/src/main/resources/application-local.yml
Labels: ⚡️ back-end, fix

#365 chore: schema.sql에 초기데이터 추가 sql 작성
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/main/resources/schema.sql
Labels: ⚡️ back-end, chore

#367 [FEATURE] 관리자 계정으로 티켓 등록 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/controller/AdminController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/EmailsAddRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/resources/schema.sql
Labels: ⚡️ back-end

#371 feat: main, dev Jenkinsfile 분리
  jenkins/dev/Jenkinsfile
  jenkins/main/Jenkinsfile
Labels: feature, infra

#373 chore: schema.sql 주석제거
  backend/sokdak/src/main/resources/schema.sql
Labels: ⚡️ back-end, chore

#375 chore: schema.sql 삭제 및 ddl-auto create으로 변경
  backend/sokdak/src/main/resources/application-dev.yml
  backend/sokdak/src/main/resources/application-local.yml
  backend/sokdak/src/main/resources/schema.sql
  backend/sokdak/src/test/resources/application.yml
  backend/sokdak/src/test/resources/schema.sql
Labels: ⚡️ back-end, chore

#374 style: 404 이미지를 로고로 교체
  frontend/src/assets/images/panda_logo.svg
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/pages/NotFoundPage/index.styles.ts
  frontend/src/pages/NotFoundPage/index.tsx
Labels: 🕶 front-end, feature

#372 fix: 게시물이 없는 경우 안내메시지 짤림 해결
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, fix

#379 fix: main과 dev 깃 충돌 해결
  .github/ISSUE_TEMPLATE/refactor-template.md
  .github/workflows/close-issue.yml
  backend/sokdak/src/main/resources/application-dev.yml
  backend/sokdak/src/main/resources/schema.sql
  backend/sokdak/src/test/resources/schema.sql
  frontend/src/assets/images/panda_logo.svg
  jenkins/Jenkinsfile
Labels: 🕶 front-end, ⚡️ back-end, fix

#376 fix: 깃 충돌 해결
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/controller/AdminController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/EmailsAddRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/resources/application-local.yml
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/resources/application.yml
  backend/sokdak/src/test/resources/schema.sql
  frontend/src/assets/images/panda_logo.svg
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/pages/NotFoundPage/index.styles.ts
  frontend/src/pages/NotFoundPage/index.tsx
  frontend/src/pages/PostPage/index.tsx
  jenkins/dev/Jenkinsfile
  jenkins/main/Jenkinsfile
Labels: release

#382 fix: 서비스 로직 @Transactional 추가 및 import optimize #381
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/CommentReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
Labels: ⚡️ back-end, fix

#383 fix: CommentService 댓글 삭제 @Transactional 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/CommentReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
Labels: ⚡️ back-end, fix

#385 refactor: 환경마다 root 로그 레벨 설정
  backend/sokdak/src/main/resources/logback-spring.xml
  backend/sokdak/src/main/resources/logback/slack-logger.xml
Labels: ⚡️ back-end, refactor

#386 refactor: 환경마다 root 로그 레벨 설정
  backend/sokdak/src/main/resources/logback-spring.xml
  backend/sokdak/src/main/resources/logback/slack-logger.xml
Labels: ⚡️ back-end, refactor

#387 fix: appender name 오타 수정
  backend/sokdak/src/main/resources/logback-spring.xml
Labels: bug, ⚡️ back-end

#388 fix: appender name 오타 수정
  backend/sokdak/src/main/resources/logback-spring.xml
Labels: bug, ⚡️ back-end

#404 chore: 불필요한 Jenkinsfile 삭제
  jenkins/Jenkinsfile
Labels: chore, infra

#399 refactor: 서비스 테스트 깨짐 해결
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/IntegrationTest.java
Labels: ⚡️ back-end, refactor

#397 refactor: Member테이블 username 암호화
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/Encryptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Username.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/AuthCodeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/TicketRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/EncryptorTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
Labels: ⚡️ back-end, refactor

#411 feat: 신고 처리된 게시글 제목과 본문 가려서 반환
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsElementResponse.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
Labels: bug, ⚡️ back-end

#408 feat: 헤더에 알람아이콘 표시
  frontend/src/assets/images/notification-icon.svg
  frontend/src/components/@shared/Dropdown/index.styles.ts
  frontend/src/components/Header/Notification/index.stories.tsx
  frontend/src/components/Header/Notification/index.styles.ts
  frontend/src/components/Header/Notification/index.tsx
  frontend/src/components/Header/index.stories.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/constants/queries.ts
  frontend/src/hooks/queries/notification/useNotificationExists.ts
  frontend/src/mocks/handlers/members/index.ts
Labels: 🕶 front-end, feature

#412 feat: 프로필에서 닉네임 수정 기능
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/MemberRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/controller/ProfileController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/dto/NicknameResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/dto/NicknameUpdateRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/exception/DuplicateNicknameException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/service/ProfileService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/SokdakApplicationTests.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/acceptance/ProfileAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/controller/ProfileControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/service/ProfileServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
Labels: ⚡️ back-end, feature

#380 style: 게시판 선택 드롭다운 디자인 변경
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
Labels: 🕶 front-end, feature

#410 feat: password 값 객체에서 관련 도메인 로직 검사 후 해싱
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Password.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/MemberRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/PasswordTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/RepositoryTest.java
Labels: ⚡️ back-end, feature

#413 feat: 프로필에서 내가 쓴 글 보기 #392
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/controller/ProfileController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/dto/MyPostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/service/ProfileService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/acceptance/ProfileAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/controller/ProfileControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/service/ProfileServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
Labels: ⚡️ back-end, feature

#415 feat: 새로운 알림이 있는지 조회하는 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/Encryptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Password.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/controller/NotificationController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/NotificationType.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NewNotificationCheckResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/PasswordTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/EncryptorTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/ReportFixture.java
Labels: ⚡️ back-end, feature

#428 feat: 깃헙액션 백앤드/프론트앤드 스크립트 적용 #417
  backend/sokdak/.github/workflows/backend.yml
  backend/sokdak/.github/workflows/frontend.yml
Labels: 🕶 front-end, ⚡️ back-end, infra

#429 fix: dev Jenkinsfile 수정
  jenkins/dev/Jenkinsfile
Labels: bug, infra

#422 refactor: 프로필 패키지 삭제 후 기존 패키지로 로직 이동 #414
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/dto/NicknameResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/dto/NicknameUpdateRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/exception/DuplicateNicknameException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/MyPostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/controller/ProfileController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/profile/service/ProfileService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/acceptance/ProfileAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/controller/ProfileControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/profile/service/ProfileServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
Labels: ⚡️ back-end, refactor

#424 feat: 대댓글 기능 구현
  frontend/src/constants/queries.ts
  frontend/src/constants/scroll.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/comment/useComments.ts
  frontend/src/hooks/queries/comment/useCreateReply.ts
  frontend/src/hooks/queries/comment/useDeleteComment.ts
  frontend/src/mocks/handlers/comments/index.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/PostPage/components/CommentBox/index.styles.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
  frontend/src/pages/PostPage/components/CommentList/index.styles.ts
  frontend/src/pages/PostPage/components/CommentList/index.tsx
  frontend/src/pages/PostPage/components/ReplyForm/index.stories.tsx
  frontend/src/pages/PostPage/components/ReplyForm/index.styles.ts
  frontend/src/pages/PostPage/components/ReplyForm/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/api.d.ts
  frontend/src/types/comment.d.ts
  frontend/src/types/style.d.ts
  frontend/src/utils/scrollToCurrent.ts
Labels: 🕶 front-end, feature

#431 refactor: 정적 팩토리 메소드명 변경 #423
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/Hashtags.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/service/HashtagService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/MyPostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
Labels: ⚡️ back-end, refactor

#435 fix: 깨지는 FE 테스트 해결
  frontend/src/setupTests.ts
Labels: 🕶 front-end, fix

#438 chore: 백엔드 깃헙액션 스크립트 추가
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#439 chore: 프론트엔드 깃헙액션 스크립트 추가
  .github/workflows/frontend.yml
Labels: 🕶 front-end, infra

#440 fix: 프론트 테스트 깨지는거 수정
  frontend/src/setupTests.ts
Labels: 🕶 front-end, ⚡️ back-end, feature

#443 feat: GithubAction 자바 설치 스크립트 수정
  .github/workflows/backend.yml
Labels: infra

#444 fix: interceptor 에서 토큰 검증 예외 던지던 로직을 boolean 값 반환으로 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/AuthInterceptor.java
Labels: bug, ⚡️ back-end

#447 chore: 백엔드 깃헙액션 스크립트 수정
  backend/sokdak/.github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#448 chore: 깃헙액션 백엔드 스크립트 수정
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#449 feature: GithubAction 경로 수정
  .github/workflows/backend.yml
Labels: infra

#451 feature: Dev 스크립트 수정
  .github/workflows/backend.yml
Labels: infra

#454 infra: 백엔드 깃헙액션 스크립트 수정
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#456 chore: 젠킨스 파일에 테스트 돌리는 코드 삭제
  jenkins/dev/Jenkinsfile
  jenkins/main/Jenkinsfile
Labels: 🕶 front-end, ⚡️ back-end, infra

#453 feat: 알림 조회 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/controller/NotificationController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NotificationResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NotificationsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, feature

#458 feat: 대댓글 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewReplyRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/ReplyResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/exception/ReplyDepthException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
Labels: ⚡️ back-end, feature

#459 feat: 대댓글 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/NewReplyRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/ReplyResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/exception/ReplyDepthException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/controller/NotificationController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NotificationResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NotificationsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, feature

#460 feat: 자신의 게시글에 댓글을 달아도 알림이 등록되지 않는 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, feature

#450 feat: 알림페이지 기능 구현
  frontend/src/App.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/path.ts
  frontend/src/constants/queries.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/notification/useDeleteNotification.ts
  frontend/src/hooks/queries/notification/useNotifications.ts
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/mocks/handlers/notifications/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/NotificationPage/components/NotificationItem/index.stories.tsx
  frontend/src/pages/NotificationPage/components/NotificationItem/index.styles.ts
  frontend/src/pages/NotificationPage/components/NotificationItem/index.tsx
  frontend/src/pages/NotificationPage/index.stories.tsx
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/NotificationPage/index.tsx
  frontend/src/types/notification.d.ts
  frontend/src/utils/timeConverter.ts
Labels: 🕶 front-end, feature

#461 feat: 대댓글 알림 작성시 댓글 작성자에 대한 알림 등록 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
Labels: ⚡️ back-end, feature

#462 feat: 알림 삭제 기능 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/controller/NotificationController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/excpetion/NotificationNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, feature

#468 feat: 소나큐브 설정 등 기타작업을 위한 브랜치 입니다. # 467
  backend/sokdak/.github/workflows/backend.yml
  backend/sokdak/build.gradle
Labels: ⚡️ back-end, infra

#471 fix: 알림 delete시 데이터 동기화 문제 수정
  frontend/src/hooks/queries/notification/useDeleteNotification.ts
Labels: bug, 🕶 front-end

#466 docs: README.md 멤버 소개 업데이트
  README.md
Labels: documentation

#475 chore: dev와 main conflict 해결
  .github/workflows/backend.yml
  README.md
Labels: ⚡️ back-end, chore

#469 [FEATURE] 소나큐브 설정 등 기타작업
  backend/sokdak/.github/workflows/backend.yml
  backend/sokdak/build.gradle
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/controller/NotificationController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/excpetion/NotificationNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/constants/api.ts
  frontend/src/constants/path.ts
  frontend/src/constants/queries.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/notification/useDeleteNotification.ts
  frontend/src/hooks/queries/notification/useNotifications.ts
  frontend/src/index.tsx
  frontend/src/jenniferFront.ts
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/mocks/handlers/notifications/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/NotificationPage/components/NotificationItem/index.stories.tsx
  frontend/src/pages/NotificationPage/components/NotificationItem/index.styles.ts
  frontend/src/pages/NotificationPage/components/NotificationItem/index.tsx
  frontend/src/pages/NotificationPage/index.stories.tsx
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/NotificationPage/index.tsx
  frontend/src/types/notification.d.ts
  frontend/src/utils/timeConverter.ts
Labels: ⚡️ back-end, infra

#405 test: refresh 요청에 대한 컨트롤러 테스트 작성
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
Labels: ⚡️ back-end, test

#478 feat: 백엔드 깃헙액션 스크립트에 소나큐브 관련 설정 추가
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#477 feat: LightHouse CI 적용
  .github/workflows/close-issue.yml
  .github/workflows/lighthouseci.yml
  .gitignore
  frontend/.lighthouserc.js
  frontend/lhci_reports/_-2022_08_16_04_42_31-report.html
  frontend/lhci_reports/_-2022_08_16_04_42_31-report.json
  frontend/lhci_reports/manifest.json
Labels: 🕶 front-end, feature

#480 feat: 깃헙액션에 소나큐브 스크립트 변경
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#473 feat: admin api 구현
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/SokdakApplication.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/controller/AdminController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/EmailsAddRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/PostReportElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/PostReportsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/TicketElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/TicketRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/dto/TicketsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/exception/NoAdminException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/admin/service/AdminService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/Ticket.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/TimeConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/acceptance/AdminAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/controller/AdminControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/IntegrationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
Labels: ⚡️ back-end, feature

#482 chore: 깃헙액션 소나큐브 관련 스크립트 변경
  backend/sokdak/.github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#483 feat: dev브랜치 깃헙액션 소나큐브 관련 스크립트 변경
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#487 feat: 깃헙액션 소나큐브 스크립트 수정
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#488 feat: dev 깃헙액션 소나큐브 스크립트 수정
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#490 feat: 소나큐브 관련 설정 추가
  backend/sokdak/.github/workflows/backend.yml
  backend/sokdak/build.gradle
Labels: ⚡️ back-end, infra

#495 docs: readme.md api 링크 수정
  README.md
Labels: documentation, ⚡️ back-end

#493 feat: 댓글 좋아요 UI 및 API 연결 구현
  frontend/src/context/Auth.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/comment/useLikeComment.ts
  frontend/src/mocks/handlers/comments/index.ts
  frontend/src/pages/PostPage/components/CommentBox/index.stories.tsx
  frontend/src/pages/PostPage/components/CommentBox/index.styles.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/types/comment.d.ts
Labels: 🕶 front-end, feature

#500 refactor: 로그인 실패시 401 응답으로 반환하도록 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/exception/AuthorizationException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/exception/LoginFailedException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/ReplyResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
Labels: ⚡️ back-end, refactor

#485 feat: 알림 조회시, 조회 확인 필드를 true로 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/acceptance/NotificationAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, feature

#498 feat: 프로필 페이지 구현
  frontend/src/App.tsx
  frontend/src/components/@shared/Dropdown/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Pagination/index.stories.tsx
  frontend/src/components/Pagination/index.styles.ts
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/PostCountInfo/index.stories.tsx
  frontend/src/components/PostCountInfo/index.styles.ts
  frontend/src/components/PostCountInfo/index.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/snackbar.ts
  frontend/src/context/Pagination.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/profile/useMyPosts.ts
  frontend/src/hooks/queries/profile/useUpdateNickname.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/MainPage/components/BoardItem/index.tsx
  frontend/src/pages/ProfilePage/components/PostItem/index.stories.tsx
  frontend/src/pages/ProfilePage/components/PostItem/index.styles.ts
  frontend/src/pages/ProfilePage/components/PostItem/index.tsx
  frontend/src/pages/ProfilePage/index.stories.tsx
  frontend/src/pages/ProfilePage/index.styles.ts
  frontend/src/pages/ProfilePage/index.tsx
Labels: 🕶 front-end, feature

#501 feat: 댓글 좋아요 기능 #395
  backend/sokdak/src/docs/asciidoc/index.adoc
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/CommentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/dto/ReplyResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/controller/LikeController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/domain/CommentLike.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/CommentLikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/service/LikeService.java
  backend/sokdak/src/main/resources/schema.sql
  backend/sokdak/src/main/resources/static/index.html
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/controller/LikeControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
Labels: ⚡️ back-end, feature

#506 fix: 긴 문장이 개행되지 않는 문제 해결
  frontend/src/pages/PostPage/components/PostContent/index.styles.ts
Labels: 🕶 front-end, fix

#503 fix: 닉네임 수정 예외 처리
  frontend/src/hooks/queries/profile/useUpdateNickname.ts
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/pages/ProfilePage/index.styles.ts
  frontend/src/pages/ProfilePage/index.tsx
Labels: 🕶 front-end, fix

#504 fix: 답글 관련 사소한 수정
  frontend/src/pages/PostPage/components/CommentBox/index.styles.ts
  frontend/src/pages/PostPage/components/CommentBox/index.tsx
  frontend/src/pages/PostPage/components/CommentList/index.styles.ts
  frontend/src/pages/PostPage/components/CommentList/index.tsx
  frontend/src/pages/PostPage/components/ReplyForm/index.styles.ts
  frontend/src/pages/PostPage/components/ReplyForm/index.tsx
Labels: enhancement, 🕶 front-end, fix

#509 fix: 게시판 이름이 짤려 개행되는 문제 해결
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
Labels: 🕶 front-end, fix

#512 fix: 내가 쓴 글에서 긴 글 개행/숨김 처리 추가
  frontend/src/pages/ProfilePage/components/PostItem/index.styles.ts
Labels: 🕶 front-end, fix

#515 chore: 깃헙액션 스크립트 timezone kst로 설정하는 코드 추가
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#519 chore: 깃헙액션 타임존 설정 스크립트 제거
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#520 chore: 깃헙액션 스크립트에 타임존 kst로 설정하는 코드 추가
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra

#517 feat: 상세페이지에서 해시태그 클릭시 해당 검색페이지로 이동
  frontend/src/components/SearchModal/index.tsx
  frontend/src/pages/PostPage/components/PostContent/index.tsx
Labels: 🕶 front-end, feature

#523 fix: 닉네임 변경시 토큰을 재설정 하도록 변경
  frontend/src/hooks/queries/profile/useUpdateNickname.ts
  frontend/src/pages/ProfilePage/index.tsx
Labels: 🕶 front-end, fix

#522 fix: 한글 닉네임 토큰 파싱 오류 해결
  frontend/src/utils/decodeJwt.ts
Labels: 🕶 front-end, fix

#525 fix: 기명 게시글에서 작성자가 익명 댓글을 여러번 달아도 동일한 닉네임 할당되지 않던 버그 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
Labels: ⚡️ back-end, fix

#527 fix: 닉네임 수정 시 새로 토큰을 발급해 반환하도록 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/acceptance/MemberAcceptanceTest.java
Labels: bug, ⚡️ back-end

#528 feat: 사소한 UI 개선
  frontend/package-lock.json
  frontend/package.json
  frontend/public/mockServiceWorker.js
  frontend/src/assets/images/notification-icon.svg
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.styles.ts
  frontend/src/components/CheckBox/index.styles.ts
  frontend/src/components/Header/Notification/index.styles.ts
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/Spinner/index.styles.ts
  frontend/src/dummy.ts
  frontend/src/pages/BoardPage/components/BoardCategory/index.styles.ts
  frontend/src/pages/HashTagPage/index.styles.ts
  frontend/src/pages/LoginPage/index.styles.ts
  frontend/src/pages/MainPage/components/BoardItem/index.styles.ts
  frontend/src/pages/NotFoundPage/index.styles.ts
  frontend/src/pages/NotificationPage/index.styles.ts
  frontend/src/pages/PostPage/components/CommentInput/index.styles.ts
  frontend/src/pages/PostPage/components/PostHeader/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/ProfilePage/index.styles.ts
  frontend/src/pages/SignUpPage/index.styles.ts
  frontend/src/style/GlobalStyle.tsx
Labels: enhancement, 🕶 front-end, feature

#537 feat: 블라인드 된 게시글의 작성자 닉네임 응답값 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
Labels: ⚡️ back-end, feature
