Repository woowacourse-teams/2022-sokdak, pull requests merged in 2022-09, with the labels that each got.

#539 chore: spring actuator build.gradle, dev yml 파일 설정
  backend/sokdak/build.gradle
  backend/sokdak/src/main/resources/application-dev.yml
Labels: ⚡️ back-end, chore

#541 chore: get method 요청에 대해 인증 인터셉터 예외 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/AuthInterceptor.java
Labels: ⚡️ back-end, chore

#544 chore: web font 최적화
  frontend/__mock__/fileMock.ts
  frontend/jest.config.ts
  frontend/public/index.html
  frontend/src/assets/fonts/BMHANNAAir/BMHANNAAir.ttf
  frontend/src/assets/fonts/BMHANNAAir/BMHANNAAir.woff
  frontend/src/assets/fonts/BMHANNAAir/BMHANNAAir.woff2
  frontend/src/assets/fonts/BMHANNAPro/BMHANNAPro.ttf
  frontend/src/assets/fonts/BMHANNAPro/BMHANNAPro.woff
  frontend/src/assets/fonts/BMHANNAPro/BMHANNAPro.woff2
  frontend/src/assets/fonts/BMYEONSUNG/BMYEONSUNG.ttf
  frontend/src/assets/fonts/BMYEONSUNG/BMYEONSUNG.woff
  frontend/src/assets/fonts/BMYEONSUNG/BMYEONSUNG.woff2
  frontend/src/style/GlobalStyle.tsx
  frontend/webpack/webpack.config.js
Labels: 🕶 front-end, chore

#546 feat: react-query 캐싱 기능을 이용하여 API 호출 최적화
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/useDeletePost.ts
  frontend/src/hooks/queries/post/useUpdatePost.ts
  frontend/src/index.tsx
  frontend/src/pages/BoardPage/index.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/ProfilePage/index.tsx
Labels: enhancement, 🕶 front-end, feature

#549 fix: 새로고침시 폰트가 적용되지 않는 문제 해결
  frontend/package.json
  frontend/public/index.html
  frontend/src/style/GlobalStyle.tsx
  frontend/src/types/file.d.ts
  frontend/webpack/webpack.config.js
Labels: 🕶 front-end, fix

#551 refactor: jenkinsfile 삭제
  jenkins/dev/Jenkinsfile
  jenkins/main/Jenkinsfile
Labels: refactor, infra

#553 refactor: repository의 불필요한 메서드 삭제
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/HashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/repository/CommentRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
Labels: ⚡️ back-end, refactor

#558 refactor: 댓글 신고 n+1 개선
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
Labels: ⚡️ back-end, refactor

#560 feat: 게시글 작성시 이미지 이름 받는 기능 추가
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/NewPostRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostUpdateRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
Labels: ⚡️ back-end, feature

#555 chore: webpack 설정을 점검하고 최적화한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/__test__/NotFound.test.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/tsconfig.json
  frontend/webpack/webpack.config.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.local.js
  frontend/webpack/webpack.prod.js
Labels: enhancement, 🕶 front-end

#563 feat: 사진 업로드 기능 구현 📷
  frontend/src/assets/images/camera.svg
  frontend/src/components/CheckBox/index.styles.ts
  frontend/src/components/CheckBox/index.tsx
  frontend/src/components/PostForm/components/ImagePreview/index.styles.ts
  frontend/src/components/PostForm/components/ImagePreview/index.tsx
  frontend/src/components/PostForm/components/ImageUpload/index.styles.ts
  frontend/src/components/PostForm/components/ImageUpload/index.tsx
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostForm/index.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/constants/queries.ts
  frontend/src/constants/snackbar.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/useUpdatePost.ts
  frontend/src/hooks/queries/post/useUploadImage.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/components/PostContent/index.styles.ts
  frontend/src/pages/PostPage/components/PostContent/index.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/UpdatePostPage/index.tsx
  frontend/src/types/post.d.ts
  frontend/webpack/webpack.config.js
Labels: 🕶 front-end, feature

#568 chore: 이미지 크기 상향 조정
  frontend/src/components/PostForm/components/ImageUpload/index.tsx
Labels: enhancement, 🕶 front-end

#569 chore: 이미지 사이즈 크기 제한 상향
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/advice/ControllerAdvice.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/advice/ErrorResponse.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/advice/InternalException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/exception/FileIOException.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageController.java
  imageserver/sokdakimageserver/src/main/java/com/wooteco/sokdak/image/ImageService.java
  imageserver/sokdakimageserver/src/main/resources/application.properties
Labels: ⚡️ back-end, chore

#572 chore: github 언어 통계에서 html 제거
  .gitattributes
Labels: documentation, chore

#573 chore: github 언어 통계에서 html 제거 (#572)
  .gitattributes
Labels: documentation, chore

#575 docs: README.md 수정(헌치)
  README.md
Labels: documentation

#590 refactor: typescript 유틸 타입 npm 출시 및 분리
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@shared/Dropdown/index.tsx
  frontend/src/components/@shared/InputBox/components/Input/index.tsx
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.tsx
  frontend/src/components/@shared/InputBox/index.tsx
  frontend/src/components/@shared/InputBox/useInputContext.tsx
  frontend/src/components/@shared/Modal/index.tsx
  frontend/src/components/CheckBox/index.tsx
  frontend/src/components/Pagination/index.tsx
  frontend/src/components/PostForm/components/HashTagInput/index.tsx
  frontend/src/context/Auth.tsx
  frontend/src/context/Pagination.tsx
  frontend/src/context/Snackbar.tsx
  frontend/src/hooks/queries/member/useLogin.ts
  frontend/src/hooks/queries/member/useLogout.ts
  frontend/src/hooks/queries/profile/useUpdateNickname.ts
  frontend/src/style/GlobalStyle.tsx
Labels: 🕶 front-end, refactor

#583 feat: request 요청을 로깅하는 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/logging/LoggingAspect.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/logging/NoLogging.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
Labels: ⚡️ back-end, feature

#592 chore: PWA 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/apple-touch-icon-114x114.png
  frontend/public/icons/apple-touch-icon-120x120.png
  frontend/public/icons/apple-touch-icon-144x144.png
  frontend/public/icons/apple-touch-icon-152x152.png
  frontend/public/icons/apple-touch-icon-57x57.png
  frontend/public/icons/apple-touch-icon-60x60.png
  frontend/public/icons/apple-touch-icon-72x72.png
  frontend/public/icons/apple-touch-icon-76x76.png
  frontend/public/icons/code.txt
  frontend/public/icons/favicon-128.png
  frontend/public/icons/favicon-16x16.png
  frontend/public/icons/favicon-196x196.png
  frontend/public/icons/favicon-32x32.png
  frontend/public/icons/favicon-96x96.png
  frontend/public/icons/favicon.ico
  frontend/public/icons/mstile-144x144.png
  frontend/public/icons/mstile-150x150.png
  frontend/public/icons/mstile-310x150.png
  frontend/public/icons/mstile-310x310.png
  frontend/public/icons/mstile-70x70.png
  frontend/public/index.html
  frontend/public/joshi.png
  frontend/public/manifest.json
  frontend/src/index.tsx
  frontend/webpack/webpack.config.js
Labels: 🕶 front-end, feature

#595 refactor: 로깅 레벨 설정 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/aspect/logging/LoggingAspect.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/AopConfig.java
  backend/sokdak/src/main/resources/logback-spring.xml
Labels: ⚡️ back-end, refactor

#584 refactor: Notification 리팩토링
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
Labels: ⚡️ back-end, refactor
