Repository woowacourse-teams/2022-sokdak, pull requests merged in 2022-11, with the labels that each got.

#722 feat: 쿠키를 이용해 조회수 어뷰징 막는 기능 추가 및 기능 개발로 인한 테스트 깨짐 보완
  backend/sokdak/src/main/java/com/wooteco/sokdak/advice/ControllerAdvice.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/ViewCountManager.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/admin/service/AdminServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/ViewCountManagerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
Labels: ⚡️ back-end, feature

#737 feat: 조회수 정보 저장하는 쿠기 maxAge 하루로 설정해 브라우저 꺼지면 쿠키 사라지지 않도록 함
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
Labels: ⚡️ back-end, feature

#729 feat: storybook 배포
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/PostListItem/index.stories.tsx
  frontend/src/pages/PostPage/components/CommentBox/index.stories.tsx
Labels: enhancement, 🕶 front-end

#743 docs: README 업데이트
  README.md
Labels: documentation

#744 fix: 로그아웃 에러 문제 해결
  frontend/src/hooks/queries/member/useIDCheck.ts
  frontend/src/hooks/queries/member/useLogout.ts
Labels: fix

#750 refactor: 새알림 체크 기능 exists 쿼리에서 별도 테이블로 분리
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/NewNotificationExistence.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NewNotificationExistenceRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NewNotificationExistenceRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
Labels: enhancement, ⚡️ back-end, refactor

#752 refactor: 기존의 새 알림 체크 로직으로 복구
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/NewNotificationExistence.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NewNotificationExistenceRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/MemberServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NewNotificationExistenceRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/DatabaseCleaner.java
Labels: ⚡️ back-end, refactor

#757 refactor: 새 알림 저장 방식을 이벤트 방식으로 변경
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/event/PostHotBoardEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/event/NewCommentEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/event/NewReplyEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/AsyncConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailSenderImpl.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/domain/Notification.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/dto/NotificationResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/excpetion/InvalidNotificationException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/repository/NotificationRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NewNotificationEventHandler.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NotificationService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/event/CommentReportEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/event/PostReportEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/config/AsyncTestConfig.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/controller/NotificationControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/domain/NotificationTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/repository/NotificationRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NewNotificationEventHandlerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/service/NotificationServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/CommentFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
Labels: ⚡️ back-end, refactor

#760 refactor: Event 객체 필드명 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/event/PostHotBoardEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/event/NewCommentEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/event/NewReplyEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/service/NewNotificationEventHandler.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/event/CommentReportEvent.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/event/PostReportEvent.java
Labels: ⚡️ back-end, refactor

#762 refactor: 알림 저장 로직 가독성 개선, 개행 정리 및 Listener 패키지 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/notification/handler/NewNotificationEventHandler.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/notification/handler/NewNotificationEventHandlerTest.java
Labels: ⚡️ back-end, refactor

#763 infra: sonarqube 스크립트 제거
  .github/workflows/backend.yml
Labels: ⚡️ back-end, infra
