Repository woowacourse-teams/2022-sokdak, pull requests merged in 2022-07, with the labels that each got.

#5 feat: 프론트엔드 프로젝트 초기 설정
  .gitignore
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: 🕶 front-end, feature

#10 feat: FAB 컴포넌트 UI 구현
  frontend/src/components/FAB/index.stories.tsx
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/FAB/index.tsx
Labels: 🕶 front-end, feature

#12 feat: Snackbar 컴포넌트 UI 구현
  frontend/src/components/Snackbar/index.stories.tsx
  frontend/src/components/Snackbar/index.styles.ts
  frontend/src/components/Snackbar/index.tsx
  frontend/src/style.d.ts
  frontend/src/style/theme.ts
Labels: 🕶 front-end, feature

#17 feat: Snackbar 컴포넌트 기능 구현
  frontend/src/components/Snackbar/index.styles.ts
  frontend/src/components/Snackbar/index.tsx
  frontend/src/context/Snackbar.tsx
  frontend/src/index.html
  frontend/src/index.tsx
Labels: 🕶 front-end, feature

#19 fix: Storybook사용시 SnackBar 오류 해결
  frontend/.storybook/preview-body.html
Labels: 🕶 front-end, fix

#21 feat: 페이지 라우팅 기능 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/CreatePostPage/index.stories.tsx
  frontend/src/pages/CreatePostPage/index.styles.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.stories.tsx
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/PostPage/index.stories.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 🕶 front-end, feature

#23 feat: MainPage 구현
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/FAB/index.styles.ts
  frontend/src/components/FAB/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/dummy.ts
  frontend/src/pages/MainPage/index.styles.ts
  frontend/src/pages/MainPage/index.tsx
  frontend/src/style.d.ts
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#27 feat: CreatePostPage 구현
  frontend/src/App.tsx
  frontend/src/components/@styled/Layout/index.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/pages/CreatePostPage/index.styles.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 🕶 front-end, feature

#29 fix: storybook routing 문제 해결
  frontend/src/components/Header/index.stories.tsx
  frontend/src/pages/CreatePostPage/index.stories.tsx
Labels: 🕶 front-end, fix

#31 feat: PostPage 구현
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/components/PostListItem/index.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/PostPage/index.stories.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#37 feat: PostPage Mocking API 연결
  frontend/.storybook/main.js
  frontend/.storybook/preview.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Spinner/index.stories.tsx
  frontend/src/components/Spinner/index.styles.ts
  frontend/src/components/Spinner/index.tsx
  frontend/src/dummy.ts
  frontend/src/index.tsx
  frontend/src/pages/PostPage/index.stories.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#38 feat: CreatePostPage Api 연동
  frontend/src/pages/CreatePostPage/index.styles.ts
  frontend/src/pages/CreatePostPage/index.tsx
Labels: 🕶 front-end, feature

#40 feat:MainPage 글목록 API 연결
  frontend/src/components/PostListItem/index.tsx
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.tsx
Labels: 🕶 front-end, feature

#42 feat: Mutate 발생시 getByPage 캐시 업데이트
  frontend/src/pages/CreatePostPage/index.tsx
Labels: 🕶 front-end, feature

#43 fix: 게시글의 시간 기준 내림차순이 되지 않았던 문제 해결
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
Labels: ⚡️ back-end, fix

#44 feat: createPostPage Validation 로직 추가
  frontend/src/components/Spinner/index.styles.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/CreatePostPage/index.styles.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/style.d.ts
  frontend/src/style/theme.ts
Labels: 🕶 front-end, feature

#46 feat: 없는 글 조회시 에러 메시지 렌더링
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#49 feat: 페이지가 존재하지 않을 경우 예외처리
  frontend/public/joshi.png
  frontend/src/App.tsx
  frontend/src/global.d.ts
  frontend/src/pages/NotFoundPage/index.stories.tsx
  frontend/src/pages/NotFoundPage/index.styles.ts
  frontend/src/pages/NotFoundPage/index.tsx
Labels: 🕶 front-end, feature

#51 refactor: 타입 정리
  frontend/src/components/FAB/index.stories.tsx
  frontend/src/components/Header/index.stories.tsx
  frontend/src/components/PostListItem/index.stories.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/components/Snackbar/index.stories.tsx
  frontend/src/components/Spinner/index.stories.tsx
  frontend/src/context/Snackbar.tsx
  frontend/src/pages/CreatePostPage/index.stories.tsx
  frontend/src/pages/MainPage/index.stories.tsx
  frontend/src/pages/NotFoundPage/index.stories.tsx
  frontend/src/pages/PostPage/index.stories.tsx
  frontend/src/types/file.d.ts
  frontend/src/types/post.d.ts
  frontend/src/types/style.d.ts
Labels: 🕶 front-end, refactor

#53 refactor: import 순서 정렬
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header/index.stories.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/PostListItem/index.tsx
  frontend/src/components/Snackbar/index.tsx
  frontend/src/components/Spinner/index.stories.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/index.tsx
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/CreatePostPage/index.stories.tsx
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.stories.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/NotFoundPage/index.stories.tsx
  frontend/src/pages/NotFoundPage/index.styles.ts
  frontend/src/pages/NotFoundPage/index.tsx
  frontend/src/pages/PostPage/index.stories.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/style/GlobalStyle.tsx
Labels: 🕶 front-end, refactor

#58 refactor: API 로직 hook으로 분리
  frontend/src/constants/queries.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/usePost.ts
  frontend/src/hooks/queries/post/usePosts.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, refactor

#65 feat: 새 게시물이 최상단에 위치하도록 MSW 코드 수정
  frontend/src/mocks/handlers/posts/index.ts
Labels: 🕶 front-end, feature

#63 feat: 더미데이터 추가
  frontend/src/dummy.ts
  frontend/src/mocks/handlers/posts/index.ts
Labels: 🕶 front-end, feature

#66 feat: webpack 설정 분기
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
  frontend/webpack/webpack.config.js
  frontend/webpack/webpack.dev.js
  frontend/webpack/webpack.prod.js
Labels: 🕶 front-end, feature

#68 fix: devtool이 source-map을 인식하지 못하는 문제 해결
  frontend/webpack/webpack.config.js
Labels: 🕶 front-end, fix

#69 refactor: 변수명 정리및 상수화
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/snackbar.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/pages/CreatePostPage/index.tsx
  frontend/src/pages/MainPage/index.tsx
  frontend/src/pages/NotFoundPage/index.tsx
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, refactor

#76 fix: snackbar 관련 상수 export
  frontend/src/constants/snackbar.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
Labels: 🕶 front-end, fix

#78 feat: 로그인 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/@shared/InputBox/components/ErrorMessage/index.styles.ts
  frontend/src/components/@shared/InputBox/components/ErrorMessage/index.tsx
  frontend/src/components/@shared/InputBox/components/Input/index.styles.ts
  frontend/src/components/@shared/InputBox/components/Input/index.tsx
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.styles.ts
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.tsx
  frontend/src/components/@shared/InputBox/index.stories.tsx
  frontend/src/components/@shared/InputBox/index.style.ts
  frontend/src/components/@shared/InputBox/index.tsx
  frontend/src/components/@shared/InputBox/useInput.ts
  frontend/src/components/@shared/InputBox/useInputContext.tsx
  frontend/src/components/Header/index.styles.ts
  frontend/src/components/Header/index.tsx
  frontend/src/constants/path.ts
  frontend/src/constants/snackbar.ts
  frontend/src/context/Auth.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/member/useLogin.ts
  frontend/src/index.tsx
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/mocks/worker.ts
  frontend/src/pages/LoginPage/components/IDInput/index.tsx
  frontend/src/pages/LoginPage/components/PasswordInput/index.tsx
  frontend/src/pages/LoginPage/index.stories.tsx
  frontend/src/pages/LoginPage/index.styles.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/member.d.ts
  frontend/src/types/style.d.ts
Labels: 🕶 front-end, feature

#90 refactor: EmailService 리팩토링
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/Ticket.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthCodeGenerator.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/Encryptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Nickname.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Username.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/AuthCodeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/MemberRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/TicketRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/AuthCodeGenerator.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/member/UsernameTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/EncryptorTest.java
Labels: ⚡️ back-end, refactor

#89 test: 회원 도메인 컨트롤러 테스트 코드 작성
  backend/sokdak/build.gradle
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/AuthCode.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/domain/Ticket.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthCodeGenerator.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/AuthService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/auth/service/Encryptor.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/controller/MemberController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Member.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Nickname.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/domain/Username.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/AuthCodeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/MemberRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/repository/TicketRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/AuthCodeGenerator.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/controller/MemberControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/domain/member/UsernameTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/EncryptorTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
Labels: ⚡️ back-end

#83 feat: 게시물 삭제 기능 구현
  frontend/.storybook/preview-body.html
  frontend/public/index.html
  frontend/src/components/ConfirmModal/index.stories.tsx
  frontend/src/components/ConfirmModal/index.styles.ts
  frontend/src/components/ConfirmModal/index.tsx
  frontend/src/constants/snackbar.ts
  frontend/src/hooks/queries/post/useDeletePost.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#93 test: auth 인수 컨트롤러 서비스 테스트 코드 작성
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/acceptance/AuthAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/controller/AuthControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/auth/service/AuthServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/MemberFixture.java
  backend/sokdak/src/test/resources/import.sql
Labels: ⚡️ back-end

#94 refactor: EmailService 테스트 코드 작성
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
Labels: ⚡️ back-end, test

#95 test: 게시글 인수테스트 추가 및 컨트롤러 테스트 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/MemberService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Content.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Title.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/NewPostRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/exception/InvalidContentException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/exception/InvalidPostException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/exception/InvalidTitleException.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/ContentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/PostTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/domain/TitleTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/repository/PostRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
Labels: ⚡️ back-end, test

#98 feat: 좋아요를 위해 heart.svg 추가
  frontend/src/assets/images/heart.svg
Labels: 🕶 front-end, feature

#103 chore: production용 webpack 설정
  frontend/webpack/webpack.prod.js
Labels: 🕶 front-end, feature

#106 feat: argumentResolver 매핑용 빈 추가 및 테스트코드 반영
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/WebMvcConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/AuthInfoMapper.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/LoginArgumentResolver.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
Labels: ⚡️ back-end, feature

#104 feat: 회원가입 페이지 구현
  frontend/.storybook/preview.js
  frontend/src/App.tsx
  frontend/src/components/@shared/InputBox/components/Input/index.styles.ts
  frontend/src/components/@shared/InputBox/components/Input/index.tsx
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.styles.ts
  frontend/src/components/@shared/InputBox/components/SubmitButton/index.tsx
  frontend/src/components/@shared/InputBox/index.stories.tsx
  frontend/src/components/@shared/InputBox/index.tsx
  frontend/src/components/@shared/InputBox/useInput.ts
  frontend/src/constants/queries.ts
  frontend/src/constants/snackbar.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/member/useEmailCheck.ts
  frontend/src/hooks/queries/member/useIDCheck.ts
  frontend/src/hooks/queries/member/useNicknameCheck.ts
  frontend/src/hooks/queries/member/useSignUp.ts
  frontend/src/hooks/queries/member/useVerificationCodeCheck.ts
  frontend/src/mocks/handlers/members/index.ts
  frontend/src/pages/LoginPage/components/IDInput/index.tsx
  frontend/src/pages/LoginPage/components/PasswordInput/index.tsx
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.tsx
  frontend/src/pages/SignUpPage/components/IDInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/IDInput/index.tsx
  frontend/src/pages/SignUpPage/components/NicknameInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/NicknameInput/index.tsx
  frontend/src/pages/SignUpPage/components/PasswordConfirmationInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/PasswordConfirmationInput/index.tsx
  frontend/src/pages/SignUpPage/components/PasswordInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/PasswordInput/index.tsx
  frontend/src/pages/SignUpPage/components/VerificationCodeInput/index.stories.tsx
  frontend/src/pages/SignUpPage/components/VerificationCodeInput/index.tsx
  frontend/src/pages/SignUpPage/index.stories.tsx
  frontend/src/pages/SignUpPage/index.styles.ts
  frontend/src/pages/SignUpPage/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/style.d.ts
  frontend/src/utils/regExp.ts
Labels: 🕶 front-end, feature

#108 chore: production용 webpack 설정
  frontend/package.json
  frontend/webpack/webpack.config.js
  frontend/webpack/webpack.dev.js
Labels: 🕶 front-end, feature

#111 feat: API 명세 변경에 맞게 MSW mocking 코드 변경
  frontend/src/dummy.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#125 feat: 게시물 좋아요 기능 구현
  frontend/src/components/LikeButton/index.stories.tsx
  frontend/src/components/LikeButton/index.styles.ts
  frontend/src/components/LikeButton/index.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#127 [FEATURE] 해시태그 기능 구현
  frontend/src/assets/images/comment.svg
  frontend/src/assets/images/heart.svg
  frontend/src/components/HashTag/index.stories.tsx
  frontend/src/components/HashTag/index.styles.ts
  frontend/src/components/HashTag/index.tsx
  frontend/src/components/HashTag/useHashTag.ts
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/PostForm/index.tsx
  frontend/src/constants/snackbar.ts
  frontend/src/dummy.ts
  frontend/src/hooks/queries/post/useCreatePost.ts
  frontend/src/hooks/queries/post/useUpdatePost.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/UpdatePostPage/index.tsx
  frontend/src/style/theme.ts
  frontend/src/types/post.d.ts
  frontend/src/types/style.d.ts
  frontend/tsconfig.json
Labels: 🕶 front-end, feature

#130 feat: 글 상세보기 페이지에서 해쉬태그 표시
  frontend/src/components/HashTag/index.styles.ts
  frontend/src/components/HashTag/index.tsx
  frontend/src/components/PostForm/index.styles.ts
  frontend/src/components/Snackbar/index.styles.ts
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
Labels: 🕶 front-end, feature

#129 Feature/121 hashtag 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Hashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/PostHashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/HashtagResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/NewPostRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostUpdateRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/HashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, feature

#134 feat: 자신의 게시물일 경우만 수정, 삭제 버튼 표시
  frontend/src/dummy.ts
  frontend/src/mocks/handlers/posts/index.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/types/post.d.ts
Labels: 🕶 front-end, feature

#137 feat: 글 목록 아이템 데이터와 글 상세보기 데이터 맞추기
  frontend/src/components/PostListItem/index.tsx
  frontend/src/dummy.ts
  frontend/src/hooks/queries/comment/usePostComments.ts
  frontend/src/hooks/queries/likes/useLike.ts
  frontend/src/mocks/handlers/posts/index.ts
Labels: 🕶 front-end, feature

#139 fix: 좋아요 수에 따라 하트 svg 크기가 달라지지 않도록 수정
  frontend/src/components/LikeButton/index.styles.ts
  frontend/src/components/LikeButton/index.tsx
Labels: 🕶 front-end, fix

#144 fix: 게시글 삭제 시 해시태그 관련 오류 FIX #143
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: bug, ⚡️ back-end

#145 fix: 좋아요/댓글 있는 경우 게시글 삭제 안되는 버그 수정
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/repository/CommentRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/like/repository/LikeRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, fix

#163 feat: fe 토큰 로그인으로 변경
  frontend/package.json
  frontend/src/components/PostListItem/index.styles.ts
  frontend/src/context/Auth.tsx
  frontend/src/hooks/queries/member/useLogin.ts
  frontend/src/pages/LoginPage/index.tsx
  frontend/src/pages/PostPage/components/CommentInput/index.tsx
  frontend/src/pages/PostPage/index.styles.ts
  frontend/src/pages/PostPage/index.tsx
  frontend/src/pages/SignUpPage/components/EmailInput/index.tsx
  frontend/src/pages/SignUpPage/components/NicknameInput/index.tsx
  frontend/src/utils/regExp.ts
Labels: 🕶 front-end, feature

#159 feat: 이메일 발송 비동기 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/config/AsyncConfig.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/service/EmailSenderImpl.java
Labels: ⚡️ back-end, feature

#162 feat: 사용되지 않는 해시태그 삭제
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, feature

#175 feat: 해시태그 기능 1차 리팩토링 #160
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/HashtagConverter.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, refactor

#179 feat: 해시태그 기능 2차 리팩토링 #160
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/controller/HashtagController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/Hashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/Hashtags.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/domain/PostHashtag.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/exception/HashtagNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/HashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/service/HashtagService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/HashtagConverter.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostDetailResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
Labels: ⚡️ back-end, refactor

#182 feat: 게시판 목록 조회 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/controller/BoardController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/PostBoard.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/NewBoardRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/NewBoardResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/BoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/support/AuthInterceptor.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/controller/BoardControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/BoardFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/HttpMethodFixture.java
Labels: ⚡️ back-end, feature

#180 feat: 댓글 삭제 기능 구현 #168
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/domain/Comment.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/exception/CommentNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/service/CommentService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/domain/CommentTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/service/CommentServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/util/CommentFixture.java
Labels: ⚡️ back-end, feature

#189 fix: 테스트 격리 문제 해결 FIX #188
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/AcceptanceTest.java
  backend/sokdak/src/test/resources/application.yml
  backend/sokdak/src/test/resources/truncate.sql
Labels: bug, ⚡️ back-end, test

#195 feat: 해시태그로 검색 기능 구현 #172
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/controller/HashtagController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/HashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/service/HashtagService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsResponse.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/controller/HashtagControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/repository/PostHashtagRepositoryTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/service/LikeServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/service/EmailServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#203 feat: 랜덤닉네임 순서 랜덤화
  backend/sokdak/src/main/java/com/wooteco/sokdak/member/util/RandomNicknameGenerator.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/member/util/RandomNicknameGeneratorTest.java
Labels: ⚡️ back-end, feature

#213 test: 인수테스트 추가 및 Dto @NotBlank 어노테이션 제거
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/dto/HashtagsSearchRequest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
Labels: ⚡️ back-end

#201 feat: 게시판 분리 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/Board.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/domain/PostBoard.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/exception/BoardNotFoundException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/repository/PostBoardRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/hashtag/service/HashtagService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/controller/PostController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/domain/Post.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/dto/PostsResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/post/service/PostService.java
  backend/sokdak/src/main/resources/application.yml
  backend/sokdak/src/main/resources/import.sql
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/service/BoardServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/acceptance/HashtagAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/hashtag/service/HashtagServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/like/acceptance/LikeAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/acceptance/PostAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/controller/PostControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/post/service/PostServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/support/token/JwtTokenProviderTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/BoardFixture.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/fixture/PostFixture.java
  backend/sokdak/src/test/resources/import.sql
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, feature

#197 feat: 댓글 신고 기능 추가 및 댓글 추가 response 상태코드 변경 # 193 # 206
  backend/sokdak/src/main/java/com/wooteco/sokdak/comment/controller/CommentController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/controller/CommentReportController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/controller/PostReportController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/CommentReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/PostReport.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/domain/ReportMessage.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/dto/ReportRequest.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/exception/AlreadyReportCommentException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/exception/AlreadyReportPostException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/exception/InvalidReportMessageException.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/CommentReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/CommentReportService.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/CommentReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/controller/PostReportControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/CommentReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/service/PostReportServiceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/util/ControllerTest.java
Labels: ⚡️ back-end, feature

#191 feat: 게시글 신고 기능 추가 # 181
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/repository/PostReportRepository.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/report/service/PostReportService.java
Labels: ⚡️ back-end, feature

#225 fix: 테스트 실패 해결
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/acceptance/CommentAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/comment/controller/CommentControllerTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/CommentReportAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/report/acceptance/PostReportAcceptanceTest.java
  backend/sokdak/src/test/resources/truncate.sql
Labels: ⚡️ back-end, fix

#219 feat: 메인페이지 조회 기능 구현
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/controller/BoardController.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentPostElement.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/dto/BoardContentResponse.java
  backend/sokdak/src/main/java/com/wooteco/sokdak/board/service/BoardService.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/acceptance/BoardAcceptanceTest.java
  backend/sokdak/src/test/java/com/wooteco/sokdak/board/controller/BoardControllerTest.java
Labels: ⚡️ back-end, feature
